<div>
  <img src="{{url}}"
       style="position: absolute;
       top: 0px;
       left: 0px;
       clip: rect(0px, 25px, 25px, 0px);
       ">

  <div style="position: absolute;
          top: {{anchorText.[0]}}px;
          left: {{anchorText.[1]}}px;
          color: {{textColor}};
          font-size: {{textSize}}px;
          font-family: Arial,sans-serif;
          font-weight: bold;
          font-style: normal;
          text-decoration: none;
          text-align: center;
          width: 25px;
          line-height:25px;
          ">
    {{count}}
  </div>
</div>