<div id="Introduction">
  <a href="#"><img id="logo" src="{{assetPath}}/images/aeris_logo.png" alt="Aeris.js"/></a>

  <p>
    The <a href="http://www.hamweather.com/support/documentation/aeris" target="_blank">Aeris Weather API</a> is one of
    the most complete and advanced weather APIs available and quickly gives you access to many different types of weather
    information.
  </p>

  <p>

    Out of the box, Aeris.js provides a suite of tools for rendering <strong>weather maps and widgets,</strong> and using <strong>data from
    the Aeris API</strong>. Maps can be rendered using the <a href="https://developers.google.com/maps/" target="_blank">Google
    Maps API</a> or <a href="http://openlayers.org/" target="_blank">OpenLayers</a>.
  </p>

  <p>
    Usage of the Aeris API <strong>requires an Aeris API developer account</strong>. Visit <a href="http://www.hamweather.com/products/aeris-api/pricing/" target="_blank">hamweather.com</a> to sign up for a
    free account.
  </p>

  <pre>
    <code class="example">
/**
 * Aeris.js is currently in <strong>beta release</strong>.
 * While we will make our best efforts to maintain a stable API,
 * minor changes may be made to the interface while Aeris.js
 * is still in beta.
 *
 *
 * We would love to hear your feedback, thoughts, and dreams for
 * this library.
 *
 * Hey, why not contribute yourself, then <strong><a href="{{githubUrl}}" target="_blank">open a pull request</a></strong>?!
 */
    </code>
  </pre>


  <h2 id="Downloads" style="padding-top:0">Downloads</h2>

  <p>There are several hosted versions of the Aeris.js library, each with a varying set of features.</p>

  <table class="downloads">
    <tr>
      <td><a class="btn" href="//js.aerisapi.com/aerisjs/0.1.1/gmaps.min.js">Weather for Google Maps</a></td>
      <td>Render weather tile layers and data using Google Maps. ~37k gzipped.</td>
    </tr>
    <tr>
      <td><a class="btn" href="//js.aerisapi.com/aerisjs/0.1.1/gmaps-plus.min.js">Weather for Google Maps +</a></td>
      <td>Includes additional APIs for geolocation, geocoding, and directions. ~39k gzipped.</td>
    </tr>
    <tr>
      <td><a class="btn" href="#">Weather for OpenLayers</a></td>
      <td>Render weather tile layers and data using OpenLayers. (Coming soon!)</td>
    </tr>
    <tr>
      <td><a class="btn" href="//js.aerisapi.com/aerisjs/0.1.1/api.min.js">Weather API only</a></td>
      <td>A javascript interface for the <a target="_blank" href="http://www.hamweather.com/support/documentation/aeris/">Aeris Weather API</a>.</td>
    </tr>
  </table>


  <h2>From a CDN</h2>

  <p>Aeris.js packages are also available from a CDN:</p>

  <pre>
    <code class="example">
&lt;!-- Weather for Google Maps --&gt;
&lt;script type="text/javascript"
        src="//js.aerisapi.com/aerisjs/{{version}}/gmaps.min.js"&gt;
&lt;/script&gt;

&lt;!-- Weather for Google Maps + --&gt;
&lt;script type="text/javascript"
        src="//js.aerisapi.com/aerisjs/{{version}}/gmaps-plus.min.js"&gt;
&lt;/script&gt;

&lt;!-- Weather API Only --&gt;
&lt;script type="text/javascript"
        src="//js.aerisapi.com/aerisjs/{{version}}/api.min.js"&gt;
&lt;/script&gt;

&lt;!-- Most recent Google Maps + build--&gt;
&lt;script type="text/javascript"
        src="//js.aerisapi.com/aeris.js"&gt;
&lt;/script&gt;
    </code>
  </pre>


  <h2>Using AMD modules</h2>

  <p>
    Aeris.js uses <a target="_blank" href="http://requirejs.org/">RequireJS</a> to load modules and components. Using RequireJS (or a compatible
    <a target="_blank" href="http://en.wikipedia.org/wiki/Asynchronous_module_definition">AMD Loader</a> you can pick and choose which Aeris.js components you would like to use.
  </p>

  <p>
    See the <a href="{{githubUrl}}/docs/markdown/install.md">Aeris.js installation guide on Github</a> for more information on using Aeris.js AMD modules.
  </p>


  <h2 id="Getting-Started">Getting Started</h2>

  <p>
    Aeris.js provides a simple interface for rendering weather data on a map.
  </p>

  <code class="example">
    <pre>
// Create your map and map overlay objects
var map = new <a href="#aeris.maps.Map" class="ref">aeris.maps.Map</a>('map-canvas');
var radar = new <a href="#aeris.maps.layers.Radar" class="ref">aeris.maps.layers.Radar</a>();
var earthquakeMarkers = new <a href="#aeris.maps.markercollections.EarthquakeMarkers" class="ref">aeris.maps.markercollections.EarthquakeMarkers()</a>

// Configure your <a href="#Get-An-API-Key">API Keys</a>
<a href="#aeris.config" class="ref">aeris.config</a>.set({
  apiId: 'my-api-id',
  apiSecret: 'my-api-secret'
});

// Add your map objects to the map
radar.setMap(map);
earthquakeMarkers.setMap(map);

// Fetch earthquake data
earthquakeMarkers.fetchData();

// Manipulate map objects
radar.setOpacity(0.5);
earthquakeMarkers.on('click', function(latLon, marker) {
  alert('Magnitude ' + marker.getDataAttribute('report.mag') + ' earthquake.');
});

// Query the Aeris API
// Markers will be redrawn when
// the API responds.
earthquakeMarkers.setParams({
  query: 'mag:3.0:5.0'
});
earthquakeMarkers.fetchData();
    </pre>
  </code>


  <h2 id="Get-An-API-Key">Get an API Key</h2>

  <p>
    The Aeris Weather API requires an API key. You can get a free developer key at <a href="http://www.hamweather.com/products/aeris-api/pricing/" target="_blank">hamweather.com</a>.
  </p>

</div>