{{#each namespaces}}
  <a class="tocTitle" href="#ns-{{name}}">{{shortName}}</a>
  <ul class="tocSection">
    {{#each namespaces }}
      {{>toc-classes this}}
    {{/each}}

    {{#each classes}}
      <li><a href="#{{name}}">{{shortName this}}</a></li>
    {{/each}}
  </ul>
{{/each}}

<a class="tocTitle" href="#ns-util">Util</a>
<ul class="tocSection">
  {{#each classes}}
    <li><a href="#{{name}}">{{shortName this}}</a></li>
  {{/each}}
</ul>