{{#if isNative}}
  <a href="{{getMDNLink name}}"
     class="ref"
     target="_blank">{{name}}</a>
{{else}}
  {{#ifPublicApi name}}
    <a href="#{{name}}" class="ref" title="<code>{{name}}</code>">{{shortName name}}</a>
  {{else}}
    <a href="/docs/api/{{name}}.html" class="ref" title="<code>{{name}}</code>">{{shortName name}}</a>
  {{/ifPublicApi}}
{{/if}}