{{#if isNative }}
  <a href="{{getMDNLink name}}"
     target="_blank"
{{else}}
  {{#ifPublicApi name }}
    <a href="#{{name}}"
  {{else}}
    <a href="/docs/api/{{name}}.html"
  {{/ifPublicApi}}
{{/if}}
        title="<code>{{name}}</code>{{#if ../description}}<br>{{../../description}}{{/if}}"
  class="ref">{{shortName name}}</a>