<div class="aeris-heading">
  Route Options
  <a href="#" class="aeris-btn-collapse">^ collapse</a>
</div>

<div class="aeris-controls-region">
 <div class="aeris-section">
    <label>
      <input class="aeris-btn-followDirections" type="checkbox" checked/>
      Snap to trail
    </label>
  </div>

  <div class="aeris-section">
    <a href="#" class="aeris-btn-clear aeris-btnBox">Clear Route</a>
    {{#if undo}}
      <a href="#" class="aeris-btn-undo aeris-btnBox">Undo</a>
      <a href="#" class="aeris-btn-redo aeris-btnBox">Redo</a>
    {{/if}}
  </div>

  {{#if travelModes.length}}
    <div class="aeris-section">
    {{#each travelModes}}
      <div class="aeris-toggleBtn">
        <input type="radio"
          {{#ifEquals this ../currentTravelMode}}
               checked
          {{/ifEquals}}
          name="aeris-builder-travelMode"
          id="aeris-btn-travelMode-{{ lowercase this }}"
          class="aeris-btn-travelMode-{{ lowercase this }}"
          value="{{ this }}"/>
        <label class="aeris-btnBox" for="aeris-btn-travelMode-{{ lowercase this }}">
          {{ capitalize this }}
        </label>
      </div>
    {{/each}}
    </div>
  {{/if}}

  {{#if startingPoint}}
    <div class="aeris-section aeris-section-latlon">
      <label>Starting Point</label>
      <div class="aeris-input-group">
        <label>Lat</label>
        <span>N</span>
        <input class="aeris-input-lat-deg" type="text"/>&deg;
        <input class="aeris-input-lat-min" type="text"/>&quot;
        <input class="aeris-input-lat-sec" type="text"/>&apos;
      </div>
      <div class="aeris-input-group">
        <label>Long</label>
        <span>W</span>
        <input class="aeris-input-lon-deg" type="text"/>&deg;
        <input class="aeris-input-lon-min" type="text"/>&quot;
        <input class="aeris-input-lon-sec" type="text"/>&apos;
      </div>
    </div>
  {{/if}}

  {{#if distance}}
    <div class="aeris-section">
      <label>Distance</label>
      <span class="aeris-distance">0</span> {{ ternary metric 'Km' 'Miles' }}
    </div>
  {{/if}}
</div>