<!DOCTYPE html>
<html>
<head>
  <title>Styleguide for AerisJS Public API Docs</title>

  <link rel="stylesheet" href="{{project.themeRoot}}/css/style.css"/>
  <link rel="shortcut icon" type="image/png" href="{{project.themeRoot}}/images/aeris-favicon.png"/>
  <link rel="stylesheet" href="{{project.themeRoot}}/js/tooltipster/tooltipster.css"/>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{project.themeRoot}}/js/tooltipster/jquery.tooltipster.min.js"></script>
  <script type="text/javascript" src="{{project.themeRoot}}/js/page.js"></script>
</head>
<body>

<!-- Fork me on github -->
<div class="forkMe">
  <a href="{{githubUrl}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
</div>

<div id="page">

  {{>header }}

  {{>sidebar}}

  <div class="container">

    {{>intro project }}



    {{#each publicApi.namespaces.aeris.namespaces}}
      {{>classdocs this}}
    {{/each}}

    {{#each publicApi.namespaces.aeris.classes }}
      {{>class this}}
    {{/each}}

  </div>

</div>

{{>footer}}


<script type="text/javascript">

</script>
</body>
</html>